# Managed by Ansible — jyok1m.backups.mongo_dump ({{ mongo_dump_name }})
RESTIC_REPOSITORY={{ mongo_dump_restic_repo }}
RESTIC_PASSWORD={{ mongo_dump_restic_password }}
MONGO_DUMP_USERNAME={{ mongo_dump_username }}
MONGO_DUMP_PASSWORD={{ mongo_dump_password }}
{% for key, value in (mongo_dump_restic_env | default({})).items() %}
{{ key }}={{ value }}
{% endfor %}
