# Managed by Ansible — jyok1m.backups.mongo_restore ({{ mongo_restore_name }})
RESTIC_REPOSITORY={{ mongo_restore_restic_repo }}
RESTIC_PASSWORD={{ mongo_restore_restic_password }}
MONGO_RESTORE_USERNAME={{ mongo_restore_username }}
MONGO_RESTORE_PASSWORD={{ mongo_restore_password }}
{% for key, value in (mongo_restore_restic_env | default({})).items() %}
{{ key }}={{ value }}
{% endfor %}
