---
services:
  traefik:
    image: {{ traefik_image }}
    container_name: traefik
    restart: unless-stopped
    deploy:                                                                                                                                
      resources:                                                                                                                         
        limits:
          memory: 512M                                                                                                                       
          cpus: 1.0
        reservations:                                                                                                                      
          memory: 128M                                                                                                                   
          cpus: 0.1
    command:
      - "--api.dashboard=true"
      - "--api.insecure=false"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=traefik-public"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--certificatesresolvers.letsencrypt.acme.email=joachim.jasmin-dev@proton.me"
      - "--certificatesresolvers.letsencrypt.acme.storage=/acme.json"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"
      - "--metrics.prometheus=true"
      - "--metrics.prometheus.entryPoint=metrics"
      - "--entrypoints.metrics.address=:8082"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - "{{ data_base_path }}/traefik/acme.json:/acme.json"
    ports:
      - 80:80/tcp
      - 443:443/tcp
    networks:
      - traefik-public

networks:
  traefik-public:
    name: traefik-public